<div>
  <mat-form-field appearance="fill" class="mat-form-field-fill-start mat-form-field-fill-end" >
    <input matInput (keyup)="search($event)" placeholder="Search" #input />
  </mat-form-field>
</div>
<div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="storyTitle">
        <mat-header-cell *matHeaderCellDef>Story Title</mat-header-cell>
        <mat-cell class="mat-cell-story-title" *matCellDef="let story">{{story.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef class="mat-cell-story-url">Link</mat-header-cell>
        <mat-cell class="mat-cell-story-url" *matCellDef="let story">
          <a href="{{ story.url }}" target="_blank" *ngIf="story.url; else Nolinkavailable">Go to Article</a>
        </mat-cell>
      </ng-container>
      <ng-template #Nolinkavailable>No link available</ng-template>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
<div>
  <mat-paginator [pageSize]="10" #paginator></mat-paginator>
</div>
