mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-fill-start {
  border-radius: 0px 0 0 0px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-fill-end {
  border-radius: 0 0px 0px 0 !important;
}

.mat-drawer-content-custom {
  position: relative;
  z-index: 1;
  display: block;
  height: max-content;
  overflow: auto;
}

.mat-cell-story-title {
  font-size: 15px;
  column-width: 75%;

}

.mat-cell-story-url {
  font-size: 15px;
  justify-content: center;

  
}
